@model Password;

@{
}

<h1>Check how strong is your password</h1>
<form asp-controller="CheckPassword" asp-action="">
	
	<label>Enter your password below</label>
	<input type="text" />
	<input type="submit" />

</form>
